{% extends 'main/header.html' %}
{% load static %}
{% block data %}
<div style="background-image: url('E:\Django\hackathon1\crop\static\images\stripe-hero-background-effect-html-css.png');">
        
        <br><br>
        <div class="contain" style="width: 100%; height: 400px;">
        <h5>Mentor:</h5><br>
        <div class="ca">
            <div class="ca-image" style="float: left; width: 20%;margin-right: 160px; margin-left: 1%;">
                <img src="{% static 'images/debrajsir.jpeg' %}" style="border-radius: 50%; height: 250px; width:250px; object-fit: cover;">
            </div>
            <div class="ca-body" style="float: left; width: 45%;">
                <p>Mr. Debraj Chatterjee, Assistant Professor Department of Computer Science & Engineering in Techno International Newtown, Kolkata.</p><br>
                <p>debraj.chatterjee@tict.edu.in</p><br>
                <p>9831491399</p><br>
            </div>
        </div>
    </div>
    <br><br>



    <div class="contain" style="width: 100%; height: 400px">
    <h5>Team members:</h5><br>
    <div class="ca">
        <div class="ca-image" style="float: left; width: 20%;margin-right: 160px; margin-left: 1%;">
            <img src="{% static 'images/rohit.jpeg' %}" style="border-radius: 50%; height: 250px; width:250px; object-fit: cover;">
        </div>
        <div class="ca-body" style="float: left; width: 45%;">
            <p>Rohit Kumar Singh, currently a penultimate year student pursuing  Computer Science & engineering in Techno International Newtown, Kolkata.</p><br>
            <p>rohit.kumar.2018@cse.tict.edu.in</p><br>
            <p>6291520933</p>

        </div>
    </div>
    </div><br><br>

    <div class="contain" style="width: 100%; height: 400px">
    <div class="ca">
        <div class="ca-image" style="float: left; width: 20%;margin-right: 160px; margin-left: 1%;">
            <img src="{% static 'images/souvik.png' %}" style="border-radius: 50%; height: 250px; width:250px; object-fit: cover;">
        </div>
        <div class="ca-body" style="float: left; width: 45%;">
            <p>Souvik Sarkar, currently a penultimate year student pursuing Computer Science & Engineering in Techno International Newtown, Kolkata.
            </p><br>
            <p>souvik.sarkar.2018@cse.tict.edu.in</p><br>
            <p>8889419994</p><br>
        </div>
    </div>
    </div><br><br>

    <div class="contain" style="width: 100%; height: 400px">
    <div class="ca">
        <div class="ca-image" style="float: left; width: 20%;margin-right: 160px; margin-left: 1%;">
            <img src="{% static 'images/sidhant.jpeg' %}" style="border-radius: 50%; height: 250px; width:250px; object-fit: cover;">
        </div>
        <div class="ca-body" style="float: left; width: 45%;">
            <p>Sidhant Singh, currently a penultimate year student pursuing Computer Science & Engineering in Techno International Newtown, Kolkata.</p><br>
            <p>sidhant.singh.2018@cse.tict.edu.in</p><br>
            <p>9340115081</p><br>
        </div>
    </div>
    </div>
    
        
</div>
{% endblock %}